@use "reset" as *;
@use "variables/global" as *;
@use "themes/dark" as *;
@use "themes/light" as *;

.app {
    font: var(--font-m);

    background-color: var(--bg-color);
    color: var(--primary-color);

    min-height: 100vh;
}

.core {
    display: flex;
}

.content {
    flex-grow: 1;
    padding: 20px;
}