.ArticleDetails {
    padding: 0 20px;
    width: 100%;
}

.avatarWrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.avatar {
    margin: 0 auto;
}

.title {
    margin: 10px 0;
}

.default_skeleton {
    margin-top: 15px;
}

.dopInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
