.Sidebar {
  background-color: var(--inverted-bg-color);
  width: var(--sidebat-width);
  height: calc(100vh - var(--navbar-height));
  transition: width 0.3s;
  display: flex;
  justify-content: center;
}

.expanded {
  width: var(--sidebat-width-expanded);
}

.c {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}