.app.light {
  --bg-color: #d4d4d9;
  --inverted-bg-color: #0303a6;
  --primary-color: #1616ad;
  --secondary-color: #0101e3;
  --inverted-primary-color: #06d706;
  --inverted-secondary-color: #03a203;
}