.app_orange_theme {
    --bg-color: #ffe0b2;
    --inverted-bg-color: #4e342e;
    --primary-color: #de8f06;
    --secondary-color: #b84905;
    --inverted-primary-color: #21f0f9;
    --inverted-secondary-color: #47b6fa;
}
