.Comment {
    margin-bottom: 20px;
    width: 100%;
    background-color: var(--inverted-bg-color);
    padding: 10px;
}

.userInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
}
