.ProfileCardHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    flex-direction: row;
}

.left_button {
    margin-right: 10px;
}
