.ProfileCard {
    padding: 20px;
    border: 2px solid var(--inverted-bg-color);
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
}

.input {
    margin-bottom: 10px;
}

.loading,
.error {
    display: flex;
    align-items: center;
    justify-content: center;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.avatar {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
}
