.ProfileCard {
    padding: 20px;
    border: 2px solid var(--inverted-bg-color);
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
}

.input {
    margin-bottom: 10px;
}
